<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="baseLogDir">${log4j2.baseLogDir}</Property>
        <Property name="baseLogName">qa</Property>
        <Property name="auditLogName">kbs_audit</Property>
        <Property name="host">${log4j2.host}</Property>
    </Properties>

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level][%d{yyyy-MM-dd HH:mm:ss.SSS}][%markerSimpleName][%T/%t] %logger{36} - %msg%xEx%n"/>
            <!--<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>-->
        </Console>
    </appenders>
    <loggers>
        <Root level="info">
            <appender-ref ref="Console"/>
        </Root>
        <!-- springframework -->
        <Logger name="org.springframework" level="info" additivity="false" includeLocation="true">
            <appender-ref ref="Console"/>
        </Logger>
        <Logger name="me.peabee.dao.mapper" additivity="false" level="debug" includeLocation="true">
            <appender-ref ref="Console"/>
        </Logger>
    </loggers>
</Configuration>